body {
  margin: 0;
  background: #A8C0ED;
}
header {
  background:#094DC3;
  margin: 0;
  margin-top: 0;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  width:15%;
  height: 15%;
}

nav{
    float:right;
    padding-top: 50px;
}

nav ul{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  list-style: none;
}
nav li{
  display:inline-block;
  padding-top: 30px;
  padding-right: 35px;
  position: relative;
}
nav a{
  color:black;
  text-decoration: none;
  text-transform: uppercase;
}
nav a::before{
  content: "";
  display: block;
  height: 5px;
  background-color: white;
  position: absolute;
  width: 0%;
  top: 0;
  transition: all ease-in-out 250ms;
}
nav a:hover{
  color: white;
}
nav a:hover::before{
  width: 100%;
}

section {
  font-style: oblique 40deg;
  font-size: 19px;
  margin: 30px;
  border-top-color: #edc5a8;
  border-top-style: solid;
  border-top-width: 3px;
border-top-left-radius: 50px;
  border-left-color: #edc5a8;
  border-left-style: solid;
  border-left-width: 3px;

  box-shadow: -10px -10px 5px darkgray;
  background-color: #a8edd5;
  opacity: .5;
}

section:hover {
  opacity: 1.0;
}

section > * {
  padding: 10px;
}

h1 {
  padding-top: 50px;
}
.Van{
  width: 65%;
  height: auto;
  padding-left: 30%;
}

main {
  padding-left: 100px;
}

figure img {
  width: 50%;
  height: auto;
}

footer{
  padding-left: 35%;
  clear: both;
  margin: 10%;
}
.foot {
  padding-top: 15px;
  padding-left: 17px;
  font-size: 120%;
  font-style: italic;
}
.s-m{
  /* position: relative;
  bottom:50%;
  left: 50%;
  transform: translate(-50%,-50%); */
}
.s-m a{
  display:
  width: 40px;
  height: 40px;
  background: #2c3e50
  color: white;
  margin:0 6px;
  border-radius: 50px;

  transition: 0.4s;
}

.fab {
  font-size: 70px;
}

.fa-facebook-f {
  color: blue;
}
