body {
  margin: 0;
  background: #A8C0ED;
}
header {
  background: #F06193;
  margin: 0;
  margin-top: 0;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  width:20%;
  height: 20%;
}

nav{
    float:right;
}

nav ul{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  list-style: none;
}
nav li{
  display:inline-block;
  margin-right: 35px;

}
nav a{
  color:#444;
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  padding-top: 50px;
}
.van{
  font-size: 100%;
  font-family: Georgia, serif;
}
main {
  padding-left: 45px;
}

}
figure img {
  width: 40%;
  height: auto;
}
.color-image {
  width: 60%;
}
footer{
  padding-left: 35%;
  clear: both;
  margin: 10%;
}
.foot {
  padding-top: 15px;
  padding-left: 17px;
  font-size: 120%;
  font-style: italic;
}
.s-m{
  /* position: relative;
  bottom:50%;
  left: 50%;
  transform: translate(-50%,-50%); */
}
.s-m a{
  display:
  width: 40px;
  height: 40px;
  background: #2c3e50
  color: white;
  margin:0 6px;
  border-radius: 50px;

  transition: 0.4s;
}

.fab {
  font-size: 70px;
}

.fa-facebook-f {
  color: blue;
}
.s-m a:hover{

}
